Question 1.
What's the version of NumPy that you installed?

In [2]:
import numpy as np
np.__version__

'1.19.5'

Question 2
What's the version of Pandas?

In [3]:
import pandas as pd
pd.__version__

'1.3.2'

In [4]:
df = pd.read_csv('../../../chapter-02-car-price/data.csv')
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

Question 3
What´s the average price of BMW cars in the dataset?

In [5]:
df['Make'].str.lower().value_counts()
df['Make'].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [6]:
bmw_avg_price = df[df['Make'] == 'BMW']['MSRP'].mean()
avg_price = df['MSRP'].mean()

print(f'Average prices BMW ${bmw_avg_price}  ALL ${avg_price}')

Average prices BMW $61546.76347305389  ALL $40594.737032063116

Question 4 
Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [7]:
missing_engine_hp = df[ df['Year'] >= 2015 ]['Engine HP'].isnull().sum()
missing_engine_hp

51

Question 5

In [8]:
mean_hp_before = df['Engine HP'].mean()
df['Engine HP Filled'] = df['Engine HP'].fillna(mean_hp_before)
mean_hp_after = df['Engine HP Filled'].mean()

print(round(mean_hp_before))
print(round(mean_hp_after))
print((mean_hp_before))
print((mean_hp_after))
#.mean defaults skipna=True . so we calculate mean without contribution of na places
#when we fillna with average value, it dont contribute to change anything

249
249
249.38607007176023
249.38607007176023

In [9]:
print(df['Engine HP'].mean())
print(df['Engine HP Filled'].mean())
print(df['Engine HP'].mean(skipna=False))

249.38607007176023
249.38607007176023
nan

Question 6

In [10]:
rollsroyce = df[ df['Make'] == 'Rolls-Royce' ][ ["Engine HP", "Engine Cylinders", "highway MPG"] ]
rollsroyce.drop_duplicates(inplace=True)
rollsroyce
X = rollsroyce.values
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
XTX_inv.sum()

0.03221232067748617

In [11]:
XTX.shape

(3, 3)

Question 7

In [12]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
w = XTX_inv.dot(X.T).dot(y)
w

array([ 0.19989598, 31.02612262, 31.65378877])